@media screen and (max-width:650px) {
    h1 {
        font-size: 40px;
    }
    h1 span img {
        width: 50px;
    }

    section {
        margin: 20px auto;
    }

    section p {
        font-size: 18px;
        width: 300px;
    }

    h2 {
        font-size: 37.5px;
        margin: 10px;
    }

    #hero {
        height: calc(100vh - 100px);
        width: calc(100vw - 50px);
    }

    #hero h2 {
        font-size: 100px;
    }

    #skills div {
        width: 300px;
   }

    #works div {
        width: 300px;
        font-size: 18px;
        margin: 0 auto;
    }

    #footer div {
        margin: 10px auto;
        font-size: 16px;
    }

    #footer div span {
        margin: 5px;
    }

    #footer div span img {
        width: 15px;
        margin-right: 2.5px;
    }
}

